<header class="flex justify-between px-32 sticky bg-black w-full text-gray-400 top-0 left-0 py-2 items-center z-20">
  <nav>
    <ul class="flex">
      <li class="me-2">
        <a routerLink="/home" routerLinkActive="active-link" [ariaCurrentWhenActive]="true">Home</a>
      </li>
      <li class="me-2">
        <a routerLink="/about" routerLinkActive="active-link" [ariaCurrentWhenActive]="true">About</a>
      </li>
      <li class="me-2">
        <a routerLink="/store" routerLinkActive="active-link" [ariaCurrentWhenActive]="true">Store</a>
      </li>
    </ul>
  </nav>
  <div>
    <h1 class="text-4xl glamour-title text-white">Glamour</h1>
  </div>
  <div>
    <ng-content />
  </div>
</header>

<!-- -translate-x-[300px]
<div class="top-0 left-0 z-30 h-screen bg-black/30 w-[300px] text-white absolute" style="backdrop-filter: blur(4px);">
  <h2>Nav Menu</h2>
</div> -->