<div class="h-screen flex">
  <div class="w-1/2 relative">
    <div class="absolute top-0 left-0 w-full h-full bg-black/60 text-white flex justify-center items-end pb-12">
      <div class="flex flex-col justify-between items-center h-1/2">
        <h1 class="text-3xl italic">Your path to be beauty</h1>
        <h1 class="text-4xl glamour-title">Glamour</h1>
      </div>
    </div>
    <img 
      ngSrc="https://images.pexels.com/photos/1850585/pexels-photo-1850585.jpeg?auto=compress&cs=tinysrgb&w=1800"
      height="600"
      width="1200"
      priority
      class="h-full w-full object-cover"
    />
  </div>
  <div class="w-1/2 flex justify-center items-center flex-col">
    <div class="w-1/2 mb-4 text-center">
      <h2 class="text-2xl">Login</h2>
    </div>
    <div class="w-1/2">
      <app-sign-in-form />
    </div>
  </div>
</div>