<div>
  <div class="px-32 bg-[url('https://images.pexels.com/photos/3331486/pexels-photo-3331486.jpeg?auto=compress&cs=tinysrgb&w=1800')] bg-cover bg-center text-black"> 
    <div 
      class="flex flex-col w-1/2 h-[70vh] justify-center"
    >
      <div class="mb-5">
        <h2 class="text-6xl">About Us</h2>
      </div>
      <div class="w-1/2 my-5">
        <p class="text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil neque nemo, dolor delectus quisquam totam commodi rerum doloribus magnam id numquam, dolorum sunt, itaque quae.</p>
      </div>
    </div>
  </div>
  <div class="px-32 py-16">
    <div class="grid grid-cols-4 gap-4">
      <div>
        <h2>Title 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, reiciendis.
        </p>
      </div>
      <div>
        <h2>Title 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, reiciendis.
        </p>
      </div>
      <div>
        <h2>Title 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, reiciendis.
        </p>
      </div>
      <div>
        <h2>Title 4</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, reiciendis.
        </p>
      </div>
    </div>
  </div>
  <div class="px-32 py-16">
    <div class="grid grid-cols-2">
      <div>
        <h2 class="text-4xl mb-4">Lorem ipsum dolor sit amet.</h2>
        <p class="text-lg w-2/3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non voluptatibus eaque molestiae dolorum animi qui suscipit, dolorem natus deserunt voluptate architecto voluptas harum ducimus dolore nam distinctio nisi iusto?
        </p>
      </div>
      <div class="flex">
        <img 
          ngSrc="https://images.pexels.com/photos/2504952/pexels-photo-2504952.jpeg?auto=compress&cs=tinysrgb&w=600"
          width="600"
          height="300"
          alt="about image"
          class="rounded-md"
        />
      </div>
    </div>
  </div>
  <div class="px-32 py-16">
    <div class="grid grid-cols-2">
      <div class="flex">
        <img 
          ngSrc="https://images.pexels.com/photos/3992879/pexels-photo-3992879.jpeg?auto=compress&cs=tinysrgb&w=600"
          width="600"
          height="300"
          alt="about image"
          class="rounded-md"
        />
      </div>
      <div>
        <h2 class="text-4xl mb-4">Lorem ipsum dolor sit amet.</h2>
        <p class="text-lg w-2/3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non voluptatibus eaque molestiae dolorum animi qui suscipit, dolorem natus deserunt voluptate architecto voluptas harum ducimus dolore nam distinctio nisi iusto?
        </p>
      </div>
    </div>
  </div>
</div>