<div>
  <div 
    [@fade-in-hero]="heroState()"
    class="px-4 lg:px-16 xl:px-32 bg-[url('https://images.pexels.com/photos/1323207/pexels-photo-1323207.jpeg?auto=compress&cs=tinysrgb&w=1800')] bg-cover bg-center text-white"
  > 
    <div class="flex flex-col w-full xl:w-1/2 h-[70vh] justify-center">
      <div class="mb-5">
        <h2 class="text-6xl">Get Hair Style<br /> You Deserve</h2>
      </div>
      <div class="w-full xl:w-1/2 my-5">
        <p class="text-xl">Discover a world of sophisticaion and presonalized beauty at Glamour. Our salon is more than just a place for haircuts; it's a haven where your unique style takes center stage.</p>
      </div>
    </div>
  </div>
  <div 
    class="px-4 lg:px-16 xl:px-32 py-16 flex flex-col lg:flex-row justify-between"
    [@fade-in-services]="servicesState()"
  >
    <div class="w-full mb-4 lg:mb-0 lg:w-1/4">
      <h3 class="text-3xl mb-3 font-semibold">Our Services</h3>
      <p>Beyond haircuts, discover a comprehensive range of services, from coloring to extensions</p>
    </div>
    <div class="w-full lg:w-2/4 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      <div class="rounded-md h-[350px] bg-[url('https://images.pexels.com/photos/4350646/pexels-photo-4350646.jpeg?auto=compress&cs=tinysrgb&w=600')] bg-cover bg-center">
        <div class="bg-black text-white rounded-md px-4 w-[125px] text-center m-2 py-1">
          <p>Haircuts</p>
        </div>
      </div>
      <div class="rounded-md h-[350px] bg-[url('https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&w=600')] bg-cover bg-center">
        <div class="bg-white text-black rounded-md px-4 w-[125px] text-center m-2 py-1">
          <p>Hairstyles</p>
        </div>
      </div>
      <div class="rounded-md h-[350px] bg-[url('https://images.pexels.com/photos/2748091/pexels-photo-2748091.jpeg?auto=compress&cs=tinysrgb&w=600')] bg-cover bg-center">
        <div class="bg-black text-white rounded-md px-4 w-[125px] text-center m-2 py-1">
          <p>Coloring</p>
        </div>
      </div>
    </div>
  </div>
  <div 
    class="px-4 lg:px-16 xl:px-32 py-16 grid grid-cols-1 sm:grid-cols-2 gap-4" 
    (appInViewport)="bookingInView()"
    [@fade-in-booking]="bookingState()"
  >
    <div>
      <h3 class="text-3xl mb-3 font-semibold">Booking</h3>
      <p class="my-8">Ready for a transfrmative experience? Book your appointment now at Glamour and let us crafty a style that defines you.</p>
    </div>
    <div class="flex justify-end items-start">
      <a routerLink="/profile" class="bg-black text-white rounded-md px-4 py-2 w-[250px] text-center">Book appointment</a>
    </div>
  </div>
  <div 
    class="px-4 lg:px-16 xl:px-32 py-16" 
    (appInViewport)="productsInView()"
    [@fade-in-products]="productsState()"
  >
    <div class="grid grid-cols-1 sm:grid-cols-2 mb-4">
      <div class="mb-4 sm:mb-0">
        <h3 class="text-3xl mb-3 font-semibold">Our products</h3>
        <p>Experience the difference with top-tier products that enhance both the aesthetics and health of your hair.</p>
      </div>
      <div class="flex justify-end items-start">
        <a routerLink="/store" class="bg-black text-white rounded-md px-4 py-2 w-[250px] text-center">Open Store</a>
      </div>
    </div>
    <div>
      <lib-products-featured-list />
    </div>
  </div>
  <div 
    class="px-4 lg:px-16 xl:px-32 py-16 bg-black text-white flex flex-col xl:flex-row justify-between"
    (appInViewport)="informationInView()"
    [@fade-in-information]="informationState()"
  >
    <div class="w-full xl:w-1/2 flex flex-col justify-between mb-4 xl:mb-0">
      <div class="mb-4">
        <h3 class="text-3xl mb-3 font-semibold">Why Choose Us</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, voluptas.</p>
      </div>
      <div class="flex">
        <div class="border-r border-white">
          <h3 class="text-5xl xl:text-8xl w-[100px] sm:w-[175px] md:w-[200px] block">{{ clientsCount() }}k</h3>
          <p>Satisfied clients</p>
        </div>
        <div class="px-8">
          <h3 class="text-5xl xl:text-8xl w-[100px] sm:w-[175px] md:w-[200px] block">{{ salonsCount() }}</h3>
          <p>Salons around the city</p>
        </div>
      </div>
    </div>
    <div class="w-full xl:w-1/2">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 h-full">
        <div class="bg-white/30 rounded p-8 h-full flex">
          <div class="me-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
            </svg>             
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam laborum aperiam sunt cum vero quidem autem tenetur voluptatibus temporibus quis.</p>
          </div>
        </div>
        <div class="bg-white/30 rounded p-8 h-full flex">
          <div class="me-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
            </svg>                        
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci eveniet atque reiciendis architecto deleniti accusantium sequi molestias provident numquam ipsum!</p>
          </div>
        </div>
        <div class="bg-white/30 rounded p-8 h-full flex">
          <div class="me-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
            </svg>
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam laborum aperiam sunt cum vero quidem autem tenetur voluptatibus temporibus quis.</p>
          </div>
        </div>
        <div class="bg-white/30 rounded p-8 h-full flex">
          <div class="me-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="m7.848 8.25 1.536.887M7.848 8.25a3 3 0 1 1-5.196-3 3 3 0 0 1 5.196 3Zm1.536.887a2.165 2.165 0 0 1 1.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 1 1-5.196 3 3 3 0 0 1 5.196-3Zm1.536-.887a2.165 2.165 0 0 0 1.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863 2.077-1.199m0-3.328a4.323 4.323 0 0 1 2.068-1.379l5.325-1.628a4.5 4.5 0 0 1 2.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.33 4.33 0 0 0 10.607 12m3.736 0 7.794 4.5-.802.215a4.5 4.5 0 0 1-2.48-.043l-5.326-1.629a4.324 4.324 0 0 1-2.068-1.379M14.343 12l-2.882 1.664" />
            </svg>                        
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam laborum aperiam sunt cum vero quidem autem tenetur voluptatibus temporibus quis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 lg:px-16 xl:px-32 py-16">
    <div class="mb-5 text-center">
      <h2 class="text-6xl">Gallery</h2>
    </div>
    <div>
      <swiper-container class="my-swiper h-[50vh] md:h-[60vh] xl:h-[80vh]" slides-per-view="1" loop="true" autoplay="true">
        <swiper-slide class="h-full w-full bg-[url('https://images.pexels.com/photos/2867899/pexels-photo-2867899.jpeg?auto=compress&cs=tinysrgb&w=1600')] bg-cover bg-center"></swiper-slide>
        <swiper-slide class="h-full w-full bg-[url('https://images.pexels.com/photos/1327328/pexels-photo-1327328.jpeg?auto=compress&cs=tinysrgb&w=1600')] bg-cover bg-center"></swiper-slide>
        <swiper-slide class="h-full w-full bg-[url('https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&w=1600')] bg-cover bg-top"></swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>