@if (user()) {
  <ul class="flex items-center">
    <li class="me-2">
      <a routerLink="/profile" routerLinkActive="active-link" [ariaCurrentWhenActive]="true">Profile</a>
    </li>
    <li class="me-2">
      <a routerLink="/cart" routerLinkActive="active-link" [ariaCurrentWhenActive]="true">Cart</a>
    </li>
    <li class="me-2">
      <a (click)="signOut()" routerLink="/" class="text-white">
        Logout
      </a>
    </li>
  </ul>
} @else {
  <a routerLink="/auth/sign-in">Sign In</a>
}